body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background :aqua; 
    color:dark blue ; 

}
head {
    background: light burlywood;
    color :aqua;
    text-align: center;
    padding: 1 rem;
}

nav ul {
    list-style: none;
    padding:0cqb;
}

nav li {
    display:inline-flex;
    margin: 0 10px;
}

nav a{ 
    color :aqua;
    text-decoration:dotted;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: aqua;
    border-radius: 5px;
}

h2, h3 {color:grey }

form input, form textarea {
    width:100%;
    padding: 8px;
    margin: 5px 0;
    border:1px solod #ccc;
}

form button {
    background:grey;
    color :aqua;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
 }

 form button:hover {background: #00706b; }

 sction {margin-top: 15px; }

